
<div class="layui-card-header">バージョン情報</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>現在のバージョン：layuiAdmin-v{{ layui.admin.v }}</p>
    <p>枠組みに基づいて：layui-v{{ layui.v }}</p>
  </script>
  <div class="layui-btn-container">
    <a href="https://yaokai.vip" target="_blank" class="layui-btn layui-btn-danger">姚凱のBlog</a>
    <a href="https://toyo.ac.jp" target="_blank" class="layui-btn">东洋大学</a>
  </div>
</div>

<div class="layui-card-header">著作権について</div>
<div class="layui-card-body layui-text layadmin-about">
  
  <blockquote class="layui-elem-quote" style="border: none;">
    layuiAdmin Layuiフロントフレームを使用しております  姚凱が開発したシステム！東洋大学AO総合型選抜を使って
  </blockquote>
  <p>© 2021 <a href="https://yaokai.vip">姚凱</a> 著作権所有</p>
</div>